body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff4500;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  background: url('https://tse3.mm.bing.net/th?id=OIP.ZZsn6lD6PCjocBzx1tuu1QHaEo&pid=Api&P=0&h=180') ;
  color: black;
  padding: 200px 200px;
}

.hero h1 {
  font-size: 30px;
}

.hero button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.featured {
  padding: 20px;
  text-align: center;
}

.featured .pizza-item {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.about {
  background-color: #f04000;
  color: white;
  text-align: center;
  padding: 40px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
